
export(Discretizacion_igual_anchura)
export(Discretizacion_igual_frecuencia)
export(Discretizacion_dataset)
export(Discretizacion_Basada_En_Clusteres_Simple)
export(calcular_varianza)
export(calcular_auc)
export(calcular_entropia)
export(calcular_metricas)
export(normalizar_vector)
export(estandarizar_vector)
export(normalizar_estandarizar_dataset)
export(filtrar_variables_por_entropia)
export(calcular_correlacion)
export(calcular_informacion_mutua)
export(calcular_correlacion_informacion_mutua)
export(plot_AUC)
export(plot_correlation_matrix)
export(plot_matrix)
export(exportar_a_CSV)
export(cargar_datos_desde_csv)
